$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
@import './libs/test';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

body {
  font: 100% $font-stack;
  color: $primary-color;
}


.ng-invalid {
  .ng-dirty{
    border: 1px solid red;
  }
}

.ng-valid{
  .ng-dirty{
    border: 1px solid green;
  }
}