

 <div ng-controller="regiController">
        <h1>{{ message }}</h1>
    <div class="login-wrapper">
		<div class="text-center">
			<h2 class="fadeInUp animation-delay10" style="font-weight:bold">
				<span class="text-success">The Big</span> <span style="color:#ccc; text-shadow:0 1px #fff">NEED</span>
			</h2>
	    </div>
		<div class="login-widget animation-delay1">	
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-plus-circle fa-lg"></i> Sign up
				</div>
				<div class="panel-body">
					<form class="form-login" name="formLogin" ng-submit="registerUser()">

						<div class="form-group">
							<label>Username</label>
							<input type="text" id="username" placeholder="Username" class="form-control input-sm" name="username" ng-minlength="3" ng-model="user.username" required/>
						<div ng-show="formLogin.username.$dirty && formLogin.username.$invalid">
                            <div ng-show="formLogin.username.$error.required">Your name is required</div>
                            <div ng-show="formLogin.username.$error.minlength">Your name must be greater then 3 characters</div>
                        </div>
                        </div><!-- /form-group -->
						<div class="form-group">
							<label>Password</label>
							<input type="password" id="password" placeholder="Password" class="form-control input-sm" name="password"  ng-model="user.password" ng-minlength="5" required/>
                            <div ng-show="formLogin.password.$dirty && formLogin.password.$invalid">
                                <div ng-show="formLogin.username.$error.required">Your password is required</div>
                            </div>
						</div><!-- /form-group -->
						<div class="form-group">
							<label>Confirm Password</label>
							<input type="password" id="confirmPassword" placeholder="Confirm password" class="form-control input-sm " id="confirmPassword" name="confirmPassword"  required/>
						</div><!-- /form-group -->
						<div class="form-group">
							<label>Email Address</label>
							<input type="email" id="email" placeholder="email" class="form-control input-sm " name="email" ng-model="user.email" required/>
						</div><!-- /form-group -->
                        <div ng-show="formLogin.email.$dirty && formLogin.email.$invalid">
                            <div ng-show="formLogin.email.$error.required">Your name is required</div>
                            <div ng-show="formLogin.email.$error.email">This is not a valid email.</div>
                        </div>
                        {{user.username}}
						<!-- <div class="form-group">
							<label class="label-checkbox">
								 <input type="checkbox" data-parsley-trigger="change" name="agreement" required/>
								 <span class="custom-checkbox info bounceIn animation-delay6"></span>
								 I accept the agreement.
							</label>
						</div>   --><!-- /form-group -->

						<div class="seperator"></div>
						<div class="form-group">
							<div class="controls">
								Already have an account? <a href="/signin" class="primary-font login-link">Sign In</a>
							</div>
						</div><!-- /form-group -->

						<hr/>
						<div class="form-group">
							<div class="controls text-right">
                                <button type="submit" class="btn btn-success btn-sm" ng-disabled="form.$dirty && form.$invalid">Sign up</button>
							</div>
						</div><!-- /form-group -->
					</form>
					<a class="btn btn-block btn-social btn-facebook faceIt">
  					<i class="fa fa-facebook"></i>
  						Sign in with Facebook
					</a>

					</div>
				</div>
			</div><!-- /panel -->
		</div><!-- /login-widget -->
	</div><!-- /login-wrapper -->


    </div>